command-t
FuzzyFinder
L9
nerdcommenter
nerdtree
vim-airline
vim-airline-themes
vim-cpp-enhanced-highlight
vim-cppman
vim-devicons
vim-fugitive
vim-gitgutter
vim-nerdtree-syntax-highlight
vista.vim
nvim-lspconfig
